:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;
  }
}
.poster {
  max-width: 100%;
}
.stat {
  display: flex;
  line-height: 1.5;

  .label {
    width: 200px;
  }
  .value {
    font-weight: bold;
    color: orange;
  }
}
